<ul class="nav nav-pills">
  <li class="nav-item">
    <button class="nav-link" id="analytics-button" onclick="FilterTopics('analytics')">Analytics</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="development-button" onclick="FilterTopics('development')">Development</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="serverless-button" onclick="FilterTopics('serverless')">Serverless</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="webapplications-button" onclick="FilterTopics('webapplications')">Web Applications</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="languages-button" onclick="FilterTopics('languages')">Languages</button>
  </li>
</ul>