<div class="navpane">
  <ul class="nav nav-tabs">
    {% if include.section_path contains "index.md" %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ include.topic_path }}">{{ include.topic }}</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ include.topic_path }}">{{ include.topic }}</a>
      </li>
    {% endif %}

    {% unless include.section_path contains "index.md" %}
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ include.section }}</a>
      </li>
    {% endunless %}
  </ul>
</div>